apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
        role: primary
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:15
          envFrom:
            - secretRef:
                name: postgres-secret
          command:
            - sh
            - -c
            - |
              until pg_isready -h postgres -p 5432 -U ${POSTGRES_USER}; do
                echo "waiting for postgres..."
                sleep 2
              done
      containers:
        - name: ping-pong
          image: captainlevi20/ping-pong:1.1
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: PGHOST
              value: "postgres"
            - name: PGPORT
              value: "5432"
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: PGDATABASE
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
